.body {
    min-width: 1200px;
    margin: 0;
    background: #000;
    display: block;
}

.home-page {
    position: relative;
    /* overflow: hidden; */
    width: 100%;
    height: 100%;
}

.bg {
    position: absolute;
    z-index: 1;
}

.slg {
    /* border: blue solid 1px; */
    position: relative;
    z-index: 2;
    left: 50%;
    top: 23%;
    transform: translate(-50%, -50%);
}